<head>
    <link rel="stylesheet" type="text/css" href="./header.component.css"> 
  </head>
<table class="table" align="center">
    <tr>
        <td> <p id="name"> <b>Heriberto Arriola Peztña</b></p></td>
    </tr>
    <tr>
        <td><p id="motivation">
          Ser un ingeniero de software exitoso, que intervenga en problematicas actuales relacionadas con las ciencias del deporte, aportando soluciones de software que ayuden al deporte a crecer
        </p></td>
        <td align="center"><img src="../../assets/images/Heriberto.png" id="image"></td>
        <td>
            <ul>
               <li><span>betokanon@gmail.com</span></li> 
               <li><span>2722607274</span></li> 
               <li><span>Orizaba, Veracruz</span></li> 
               <li><span>@btoarriola</span></li> 
            </ul>
        </td>
    </tr>
</table>