<p id="title"><b>Experiencia Laboral</b></p>
<table class="table">
    <tr>
        <td width="60%" id="header"></td><td width="8%" id="header"></td>
        <td width="8%" id="header"></td><td width="8%" id="header"></td>
        <td width="8%" id="header"></td><td width="8%" id="header"></td>
    </tr>
    <tr>
        <td>Liderazgo</td>
        <td id="full2"></td><td id="full2"></td>
        <td id="full2"></td><td id="full2"></td><td></td>
    </tr>
    <tr>
        <td>Disciplina</td>
        <td id="full1"></td><td id="full1"></td>
        <td id="full1"></td><td id="full1"></td><td id="full1"></td>
    </tr>
    <tr>
        <td>Trabajo en equipo</td>
        <td id="full2"></td><td id="full2"></td>
        <td id="full2"></td><td id="full2"></td><td id="full2"></td>
    </tr>
    <tr>
        <td>Resolucion de problemas</td>
        <td id="full1"></td><td id="full1"></td>
        <td id="full1"></td><td id="full1"></td><td></td>
    </tr>
    <tr>
        <td>Capacidad Analitica</td>
        <td id="full2"></td><td id="full2"></td>
        <td id="full2"></td><td id="full2"></td><td id="full2"></td>
    </tr>
    <tr>
        <td>Adaptabilidad</td>
        <td id="full1"></td><td id="full1"></td>
        <td id="full1"></td><td id="full1"></td><td id="full1"></td>
    </tr>
    <tr>
        <td>Comunicación</td>
        <td id="full2"></td><td id="full2"></td>
        <td id="full2"></td><td id="full2"></td><td></td>
    </tr>
    
</table>

