<table  width="85%" align="center">
  <tr>
    <td id="tdheader">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td id="tdrest">
      <table class="table2" cellspacing="0">
        <tr>
          <td width="50%" class="vline hline" rowspan="3"><app-work-experience></app-work-experience></td>
        </tr>
        <tr>
          <td width="50%" valign="top" class="hline"><app-skills></app-skills></td>
        </tr>
        <tr>
          <td width="50%" valign="top">certificates</td>
        </tr>
        <tr>
          <td width="50%" class="vline" rowspan="3" valign="top">education</td>
        </tr>
        <tr>
          <td width="50%" valign="top">idiomas</td>
        </tr>
        <tr>
          <td width="50%" valign="top">intereses</td>
        </tr>
      </table>
    </td>
  </tr>
  </table>