<table  width="85%" align="center">
  <tr>
    <td id="tdheader">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td id="tdrest">
      <table class="table2" cellspacing="0">
        <tr>
          <td width="50%" valign="top" class="vline hline" rowspan="3"><app-work-experience></app-work-experience></td>
        </tr>
        <tr>
          <td width="50%" valign="top" class="hline"><app-skills></app-skills></td>
        </tr>
        <tr>
          <td width="50%" valign="top" class="hline"><app-certificates></app-certificates> </td>
        </tr>
        <tr>
          <td width="50%" class="vline" rowspan="3" valign="top"><app-education></app-education> </td>
        </tr>
        <tr>
          <td width="50%" valign="top" class="hline"><app-languages></app-languages></td>
        </tr>
        <tr>
          <td width="50%" valign="top"><app-interests></app-interests></td>
        </tr>
        <tr>
          <td> <img src="btoarriola - Python.png" width="100%" alt="pandas"> </td>
        </tr>
        <tr>
          <td> <img src="btoarriola - Pandas.png" width="100%" alt="pandas"> </td>
        </tr>
      </table>
    </td>
  </tr>
  </table>
