<table  width="85%" align="center">
  <tr>
    <td id="tdheader">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td id="tdrest">
      <table class="table2" cellspacing="0">
        <tr>
          <td width="50%" id="we" rowspan="3"><app-work-experience></app-work-experience></td>
        </tr>
        <tr>
          <td width="50%">skills</td>
        </tr>
        <tr>
          <td width="50%">certificates</td>
        </tr>
        <tr>
          <td width="50%" id="we" rowspan="3">education</td>
        </tr>
        <tr>
          <td width="50%">idiomas</td>
        </tr>
        <tr>
          <td width="50%">intereses</td>
        </tr>
      </table>
    </td>
  </tr>
  </table>